<div class="main">
  <section class="topsection">
    <div class="container">
      <div class="row">
        <nav>
          <div class="getappdiv">
            <mat-icon>system_update</mat-icon>
            <a href="#">Get the App</a>
          </div>
          <div class="navlinkmaindiv">
            <div><a href="">Investor Relations</a></div>
            <div><a href="">Add Restaurant</a></div>
            <div (click)="toggle=!toggle" class="username"> <img src="../../../assets/image/locationpage/userimg.jpeg"
                alt=""> cpshibin<mat-icon>
                expand_more</mat-icon>
              <div class="dropdownlist" *ngIf="toggle">
                <ul>
                  <li class="toplist"><a href="">Profile</a></li>
                  <li><a href="">Notifications</a></li>
                  <li><a href="">Bookmarks</a></li>
                  <li><a href="">Reviews</a></li>
                  <li><a href="">Network</a></li>
                  <li><a href="">Find friends</a></li>
                  <li><a href="">Settings</a></li>
                  <li class="bottomlist"><a href="">Log out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </section>
  <section class="headingsection">
    <h2>SWIGGY</h2>
    <h3>Discover the best food & drinks in Malappuram</h3>
    <div class="inputdivmain">
      <div class="inputdiv">
        <div class="locationgetdiv" (click)="togglegps = !togglegps" (focusout)="togglegpsfn()">
          <mat-icon> place</mat-icon>
          <input type="text" placeholder="Malappuram">
          <mat-icon>expand_more</mat-icon>
          <div class="dropmain" *ngIf="togglegps">
            <div class="subdrop">
              <div class="getlocationmain">
                <div class="gpsdiv">	<mat-icon>gps_fixed</mat-icon></div>
                <p>Detect current location</p>
              </div>
              <p class="gpstext">Using GPS</p>
            </div>
          </div>
        </div>
        <div class="linediv"></div>
        <div class="inpsection">
          <div class="searchdiv">
            <mat-icon>search</mat-icon>
          </div>
          <input type="text" placeholder="Search for restaurant, cuisine or a dish">
        </div>
      </div>
    </div>
  </section>
</div>
