<section>
  <div right class="container pt-5">
    <div class="row">
      <div class="col-8 slidecol">
        <div class="mainsignupdiv">
          <button  class="closeiconbtn"(click)="close()" >
            <mat-icon>close</mat-icon>
          </button>
          <div class="signuptextmain">
            <div class="signuptext">
              <h2>Sing up</h2>
              <div>
                or <a class="signuptologinlink" href="">login to your account</a>
              </div>
            </div>
            <div class="slidelogoimgdiv">
              <img  class="slidelogoimg" src="../assets/image/logingpage/slidelogo.png" alt="slidelogo">
            </div>
          </div>
          <form class="formmain pt-5" action="" [formGroup]="loginForm">
            <div class="formmaindiv"[ngClass]="{'eorrorbor' : phonenubererror&&this.f.contphonenumber.errors}" >
              <div>
                <input (focus)="onFocus('phone')" (focusout)="focusOut('phone')" name="phone"  type="number" class="inputsignup"  formControlName="contphonenumber"required>
                <label [ngClass]="{'focuslabel' : this.usernumber,'eorrortext' : phonenubererror&&this.f.contphonenumber.errors}" class="inputlabel">
                  <span *ngIf="phonenubererror&&f.contphonenumber.errors?.['required']">Enter Your </span>
                  <span *ngIf="f.contphonenumber!">Phone number</span>
                  <span *ngIf="phonenubererror&&f.contphonenumber.errors?.['pattern']"> correctly</span>
                </label>
              </div>
            </div>
            <div class="formmaindiv"[ngClass]="{'eorrorbor' : usernumerror&&this.f.username.errors}" >
              <div>
                <input (focus)="onFocus('name')" (focusout)="focusOut('name')" name="name" formControlName="username"  type="text" class="inputsignup" required>
                <label [ngClass]="{'focuslabel' : this.usernam,'eorrortext' : usernumerror&&this.f.username.errors}" class="inputlabel">
                  <span *ngIf="usernumerror&&f.username.errors">Enter Your </span>
                  <span *ngIf="f.username!">Name</span>
                  <span *ngIf="usernumerror&&f.username.errors?.['minlength']"> should be min 3 chars</span>
                </label>
              </div>
            </div>
            <div class="formmaindiv"[ngClass]="{'eorrorbor' : useremailerror&&this.f.useremail.errors}" >
              <div>
                <input (focus)="onFocus('email')" (focusout)="focusOut('email')" name="email"  type="email" class="inputsignup" formControlName="useremail"  required>
                <label [ngClass]="{'focuslabel' : this.useremail,'eorrortext' : useremailerror&&this.f.useremail.errors}" class="inputlabel">
                  <span *ngIf="useremailerror&&f.useremail.errors">Enter Your </span>
                  <span *ngIf="f.useremail!">email</span>
                  <span *ngIf="useremailerror&&f.useremail.errors?.['email']">correctly</span>
                </label>
              </div>
            </div>
            <div class="formmaindiv"[ngClass]="{'eorrorbor' : userpassworderror&&this.f.userpassword.errors}" >
              <div>
                <input (focus)="onFocus('password')" (focusout)="focusOut('password')" name="password" formControlName="userpassword"  type="password" class="inputsignup"   required>
                <label [ngClass]="{'focuslabel' : this.userpassword,'eorrortext' : userpassworderror&&this.f.userpassword.errors}" class="inputlabel">
                  <span *ngIf="userpassworderror&&f.userpassword.errors">Enter Your </span>
                  <span *ngIf="f.userpassword!">Password</span>
                  <span *ngIf="userpassworderror&&f.userpassword.errors?.['minlength']">should be min 8 chars</span>
                  <span *ngIf="userpassworderror&&f.userpassword.errors?.['maxlength']"> Max 10</span>
                </label>
              </div>
            </div>
            <a href="" class="code">Have a referral code?</a>
            <button class="signupbtn" type="submit">CONTINUE</button>
            <p class="termspara">By creating an account, I accept the, <a href="#"> Terms & Conditions & Privacy Policy</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
