<section>
  <div right class="container">
    <div class="row">
      <div class="col-7 slidecol">
        <div class="mainsignupdiv">
          <button class="closeiconbtn">
            <mat-icon>close</mat-icon>
          </button>
          <div class="signuptextmain">
            <div class="signuptext">
              <h2>Login</h2>
              <div>
                or <a class="signuptologinlink" href="">create an account</a>
              </div>
            </div>
            <div class="slidelogoimgdiv">
              <img class="slidelogoimg" src="../assets/image/logingpage/slidelogo.png" alt="slidelogo">
            </div>
          </div>
          <form class="formmain pt-5" [formGroup]="loginForm" (ngSubmit)="onsubmit('one')">
            <div class="formmaindiv" [ngClass]="{'erro' : sub&&f.phonenumber.errors}">
              <div>
                <input (focus)="onFocus('one')" (focusout)="focusOut('one')" type="text" class="inputsignup"
                  formControlName="phonenumber" required>
                <label [ngClass]="{'focuslabel' : this.sam}" class="inputlabel">
                  <span *ngIf="sub&&f.phonenumber.errors">Enter Your </span>
                  <span *ngIf="f.phonenumber!">Phone number</span>
                  <span *ngIf="f.phonenumber.errors&&f.phonenumber.errors!['pattern']">correctly</span>
                </label>
              </div>
            </div>
            <button class="loginbtn" type="submit">LOGIN</button>
            <p>By clicking on Login, <a href="#"> I accept the Terms & Conditions & Privacy Policy</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
