.mainsection {
  background-color: var(--sub-main-background);
  height: 100vh;
}

.main {
  padding-top: 3rem;
}

header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

header h1 {
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}

header p {
  font-size: 16px;
}

header button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  transition: all .4s;
}

header button:hover {
  background-color: #fff;
  color: var(--sub-main-background);
}

/* user detalsa start */
.walleticon {
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 5px 0 rgb(40 44 63 / 40%);
  top: 22px;
  left: -30px;
  background-color: #fff;
}

.walleticon i {
  color: #282c3f;
}

/* payment start */
.addressandpyment {
  padding-bottom: 6rem;
}

.paymentmain {
  display: flex;
  justify-content: space-between;
}

.paymentshow {
  position: relative;
  background-color: #fff;
  padding: 25px 40px 30px;
}

.paymentshow h2 {
  color: black;
  letter-spacing: -.3px;
}

.paymentap {
  width: 230px;
  background-color: #edf1f7;
  padding: 20px 0 15px 15px;
}

.paymentap div {
  font-weight: 500;
  color: #686b78;
  align-items: center;
  height: 70px;
  position: relative;
  cursor: pointer;
  display: flex;
}

.paymentap div:hover {
  color: black;
}

.paymentap div i {
  font-size: 23px;
  margin-left: 10px;
}

.paymentap div span {
  margin-left: 10px;
  font-size: 18px;

}

.active {
  background-color: #fff;
  color: black !important;
}

.walletshow {
  width: 78%;
}

.pastodermaindiv h2 {
  font-size: 24px;
  font-weight: 500;
}

/* past order show start */
.pastordershowmain {
  border: 1px solid #d4d5d9;
  padding: 30px;
  margin: 25px 0 25px;
}

.firstsection {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px dotted rgba(104, 107, 120, .3);
}

.restaurantimg {
  width: 150px;
  height: 100px;
}

.restaurantimg img {
  width: 100%;
}

.restaurantname {
  margin-right: 125px;
}

.restaurantname h3 {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 0px;
}

.restaurantname p {
  font-size: 13px;
  color: #686b78;
  margin: 0 0 0;
}

.restaurantname button {
  margin-top: 13px;
  background: none;
  border: none;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 600;
  transition: all .3s;
}

.restaurantname button:hover {
  color: #282c3f;
}

.pastorderdate {
  font-size: 13px;
  color: #686b78;
}

.pastorderdate i {
  color: #60b246;
  font-size: 20px;
}

.dishname {
  display: flex;
  justify-content: space-between;
}

.dishname h4 {
  font-size: 15px;
}

.dishname p {
  color: #686b78;
  font-size: 14px;
}

.reorderbtn {
  color: #fff;
  background-color: var(--main-color);
  width: 120px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  transition: all .3s;
}

.helpbtn {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  width: 120px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  transition: all .3s;
}

.helpbtn:hover,
.reorderbtn:hover {
  box-shadow: 0 2px 8px #d4d5d9;
}

.cardsub {
  width: 20rem;
  text-align: -webkit-center;
  transition: all .2s ease-in;
  border: 1px solid transparent;
}

.cardsub:hover {
  border: 1px solid #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.cardcon {
  padding-top: 1rem;
  width: 18rem;
}

.cardimg img {
  width: 100%;
}

.cardtext {
  margin-top: 10px;
  text-align: start;
}

.cardtitle {
  font-size: 18px;
  font-weight: 500;
  word-break: break-word;
  margin: 0 0 5px;
}

.cardsubtext {
  color: #686b78;
  font-size: 13px;
  margin: 0 0 15px;
}

.cardstar {
  width: 45px;
  padding: 0 5px;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
}

.cardprice {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.offerdiv {
  border-top: 1px solid #e9e9eb;
  padding: 10px 0 10px 0;
  margin-top: 0;
  color: #8a584b;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
}

.quickdiv {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-top: 1px solid #e9e9eb;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.3s linear;
}

.quickdiv button {
  background-color: transparent;
  color: #5d8ed5;
  border: none;
  font-weight: 600;
}

.quickdiv button:hover {
  color: #93959f;
}

.cardsub:hover .quickdiv {
  visibility: visible;
  opacity: 1;
}

a {
  color: black;
}

.fav {
  font-size: 24px;
  font-weight: 500;
  margin-left: 25px;
  margin: 0 0 2px;
}

.addressmaindiv {
  display: flex;
  border: 1px solid #d4d5d9;
  padding: 20px;
  width: 50%;
}

.addressmaindiv i {
  font-size: 20px;
  margin-top: 5px;
}

.addresstext {
  margin-left: 10px;
}

.addresstext h2 {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 -5px;
}

.addresstext p {
  color: #686b78;
  font-size: 13px;
  line-height: 20px;
  max-width: 350px;
}

.addresstext a {
  color: var(--main-color);
}

.addresstext a {
  font-weight: 600;
  font-size: 14px;
}

.delebtn {
  margin-left: 10px;
}
.smshead{
  padding: 16px;
  border: 1px solid #d4d5d9;
  color: #686b78;
  font-size: 14px;
}
/* ss*/
