<app-navbar></app-navbar>
<section class="headmain">
  <div class="container">
    <div class="row">
      <div class="headcon">
        <div class="restimgdiv">
          <img src="../../../assets/image/restautantsub/restaurantimg1.jpeg" alt="">
        </div>
        <div class="textmain">
          <div class="headtext">
            <h1>Empire Plaza</h1>
            <p>Arabian, North Indian</p>
            <p>Marad, Maradu | Change Outlet</p>
          </div>
          <div class="ratingmain">
            <div>
              <div><span><i class='bx bxs-star'></i>4.0</span></div>
              <div>1K+ Ratings</div>
            </div>
            <div>
              <div><span>45 mins</span></div>
              <div>Delivery Time</div>
            </div>
            <div>
              <div><span>₹ 199</span></div>
              <div>Cost for two</div>
            </div>
          </div>
          <div class="filtermain pt-3">
            <div class="serchdiv"><span class="icon-search"><i class='bx bx-search'></i></span><span
                class="searchinput"><input type="text" placeholder="Search for dishes..."></span></div>
            <div class="vegdiv">
              <span class="checkspan">
                <label class="checklabel">
                  <input type="checkbox" class="checkinp">
                  <span class="checkmark"></span>
                  <svg width="16" class="_2m7ny" viewBox="0 0 24 24">
                    <path
                      d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M9.5,18.25 L20.75,7.43269231 L19,5.75 L9.5,14.8846154 L5,10.5576923 L3.25,12.2403846 L9.5,18.25 Z">
                    </path>
                  </svg>
                </label>
              </span>
              <span class="vegtext">veg only</span>
            </div>
            <div class="favouritebtn"><button><i class='bx bx-heart'></i>Favourite</button></div>
          </div>
        </div>
        <div class="offerdiv">
          <div class="offer">
            <h1>OFFER</h1>
            <div class="offertext">
              <div><i class='bx bxs-offer'></i></div>
              <div>60% off up to ₹120 | Use code TRYNEW</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
