/* loging page start*/
/* First section start */
.swiggylogoimg {
  width: 190px;
  height: auto;
}

.loginlogomaindiv {
  display: flex;
}

.loginpagebuttonmaindiv {
  display: flex;
  align-items: center;
}

.loginpagebuttonmaindiv a {
  margin: 10px;
}

.loginbtn {
  color: black;
  font-weight: 600;
  transition: color .3s ease;

}

.singupbtn {
  color: #fff;
  background-color: black;
  font-weight: 600;
  padding: 5px 15px;
}

.loginbtn:hover {
  color: var(--main-color);
}
/* text animation start */
.movinglogingdiv,
.movinglogingdiv:before,
.movinglogingdiv:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 45px;
  font-weight: 500;
}

.wrapper {
  box-sizing: content-box;
  height: 70px;
  display: flex;
}

.words {
  overflow: hidden;
}

.words span {
  display: block;
  height: 100%;
  color: black;
  animation: spin_words alternate-reverse infinite;
  animation-duration: 20s;
  text-transform: capitalize;
}

@keyframes spin_words {
  10% {
    transform: translateY(-112%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-212%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-312%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-412%);
  }

  100% {
    transform: translateY(-400%);
  }
}
/* text animation end */
/* location input start*/
.locationinput{
  height: 58px;
  line-height: 28px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 160px;
  caret-color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  border-right: none;
  outline: none !important;
  border: 1px solid #bebfc5;
}
.locationinput:focus{
  caret-color:var(--main-color);
  border: 1px solid var(--main-color) ;
}
.locationinputdivmain{
  position: relative;
  display: flex;
}
.gitlocation{
  position: absolute;
  right: 120px;
  top: 8px;
}
.gitlocation span{
  color: #535665;
  font-size: 12px;
}
.gitlocation button:hover{
  background-color: #e9e9eb;
}
.locationicon{
  vertical-align:-webkit-baseline-middle;
  font-size: 15px;
  color: #535665;
}
.findfoodbtndiv a{
      text-decoration: none;
      cursor: pointer;
      display: inline-block;
      text-align: center;
      border: none;
      color: #fff;
      background-color: var(--main-color);
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
      right: 0;
      height: 58px;
      line-height: 60px;
      width: 140px;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: .53px;
      padding: 0;
}
/* location input end */
.locationinputdoendiv p{
  color: #a9abb2;
}
.locationinputdoendiv ul{
  color: #93959f;
  display: flex;
}
.locationinputdoendiv ul li:nth-child(odd) a{
 color: #686b78;
 font-weight: 500;
}
.locationinputdoendiv ul li:nth-child(even) a{
  color: #93959f;
}
.list-group-item{
  border: none !important;
}
/* first section end*/
/* loging page end*/
