<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-6 pt-5">
        <div class="loginlogomaindiv justify-content-between">
          <div class="logodiv">
            <img src="../assets/image/logingpage/swiggy-logo.png" alt="swiggy-logo" class="swiggylogoimg">
          </div>
          <div class="loginpagebuttonmaindiv">
            <a class="loginbtn" href="#">Login</a>
            <a class="singupbtn" href="">Sign Up</a>
          </div>
        </div>
        <div class="logingmaincon pt-5">
          <div class="movinglogingdiv">
            <div class="wrapper">
              <div class="words">
                <span>Movie marathon?</span>
                <span>Hungry?</span>
                <span>Game night?</span>
                <span>Unexpected guests?</span>
                <span>Late night at office?</span>
              </div>
            </div>
          </div>
          <p>Order food from favourite restaurants near you.</p>
          <div class="locationinputdivmain">
            <div class="locationinputdiv">
              <input class="locationinput" type="text" placeholder="Enter your delivery location">
            </div>
            <div class="gitlocation">
              <button class="btn" name="Continue" type="submit">
                <mat-icon class="locationicon">gps_fixed</mat-icon>
                <span>Locate me</span>
              </button>
            </div>
            <div class="findfoodbtndiv">
              <a href="#">FIND FOOD</a>
            </div>
          </div>
          <div class="locationinputdoendiv pt-3">
            <p>POPULAR CITIES IN INDIA </p>
            <!-- <span><b>Ahmedabad </b></span><span>Bangalore</span><span><b>Chennai</b></span><span>Delhi</span><span><b>Gurgaon</b></span><span>Hyderabad</span><span><b>Kolkata</b></span><span>Mumbai</span><br><span> <b>Pune</b></span><span>& more</span> -->
            <ul>
              <li class=""><a href="#">Ahmedabad</a></li>
              <li class="ms-2"><a href="#">Bangalore</a></li>
              <li class="ms-2"><a href="#">Chennai</a></li>
              <li class="ms-2"><a href="#">Delhi</a></li>
              <li class="ms-2"><a href="#">Gurgaon</a></li>
              <li class="ms-2"><a href="#">Hyderabad</a></li>
              <li class="ms-2"><a href="#">Kolkata</a></li>
              <li class="ms-2"><a href="#">Mumbai</a></li>
              <li class="ms-2"><a href="#">Pune</a></li>
              <li class="ms-2"><a href="#">& more.</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<router-outlet></router-outlet>
