<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-6 pt-5">
        <div class="loginlogomaindiv justify-content-between">
          <div class="logodiv">
            <img src="../assets/image/logingpage/swiggy-logo.png" alt="swiggy-logo" class="swiggylogoimg">
          </div>
          <div class="loginpagebuttonmaindiv">
            <a class="loginbtn" href="#">Login</a>
            <a class="singupbtn" href="">Sign Up</a>
          </div>
        </div>
        <div class="logingmaincon ">
          <div class="movinglogingdiv">
            <div class="wrapper">
              <div class="words">
                <span>Movie marathon?</span>
                <span>Hungry?</span>
                <span>Game night?</span>
                <span>Unexpected guests?</span>
                <span>Late night at office?</span>
              </div>
            </div>
          </div>
          <p>Order food from favourite restaurants near you.</p>
        </div>
      </div>
    </div>
  </div>
</div>









<router-outlet></router-outlet>
