/* loging page start*/
/* First section start */
.swiggylogoimg {
  width: 190px;
  height: auto;
}

.logocol {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.loginlogomaindiv {
  display: flex;
}

.loginpagebuttonmaindiv {
  display: flex;
  align-items: center;
}

.loginpagebuttonmaindiv a {
  margin: 10px;
}

.loginbtn {
  color: black;
  font-weight: 600;
  transition: color .3s ease;

}

.singupbtn {
  color: #fff;
  background-color: black;
  font-weight: 600;
  padding: 10px 25px;
  cursor: pointer;
}

.loginbtn:hover {
  color: var(--main-color);
}

/* text animation start */
.movinglogingdiv,
.movinglogingdiv:before,
.movinglogingdiv:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 45px;
  font-weight: 500;
}

.wrapper {
  box-sizing: content-box;
  height: 70px;
  display: flex;
}

.words {
  overflow: hidden;
}

.words span {
  display: block;
  height: 100%;
  color: black;
  animation: spin_words infinite;
  animation-duration: 20s;
  text-transform: capitalize;
}

@keyframes spin_words {
  10% {
    transform: translateY(-70%);
  }

  25% {
    transform: translateY(-60%);
  }

  35% {
    transform: translateY(-170%);
  }

  50% {
    transform: translateY(-160%);
  }

  60% {
    transform: translateY(-270%);
  }

  75% {
    transform: translateY(-260%);
  }

  85% {
    transform: translateY(-370%);
  }

  100% {
    transform: translateY(-360%);
  }
}

/* text animation end */
/* location input start*/
.locationinput {
  height: 58px;
  line-height: 28px;
  padding-top: 0;
  padding-left: 15px;
  padding-right: 160px;
  caret-color: var(--main-color);
  font-size: 18px;
  font-weight: 500;
  border-right: none;
  outline: none !important;
  border: 1px solid #bebfc5;
}

.logingmaincon {
  padding-top: 4.5rem;
}

.locationinput:focus {
  caret-color: var(--main-color);
  border: 1px solid var(--main-color);
}

.locationinputdivmain {
  position: relative;
  display: flex;
}

.gitlocation {
  position: absolute;
  right: 125px;
  top: 16px;
}

.gitlocation span {
  color: #535665;
  font-size: 12px;
}

.gitlocation button:hover {
  background-color: #e9e9eb;
}

.locationicon {
  vertical-align: -webkit-baseline-middle;
  font-size: 15px;
  color: #535665;
}

.orderfoodtextp {
  font-size: 24px;
  font-weight: 300;
  width: 600px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  letter-spacing: -.3px;
  color: #686b78;
}

.findfoodbtndiv a {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border: none;
  color: #fff;
  background-color: var(--main-color);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
  right: 0;
  height: 58px;
  line-height: 60px;
  width: 140px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .53px;
  padding: 0;
}

/* location input end */
.locationinputdoendiv p {
  color: #a9abb2;
}

.locationinputdoendiv ul {
  color: #93959f;
  display: flex;
}

.locationinputdoendiv ul li:nth-child(odd) a {
  color: #686b78;
  font-weight: 500;
}

.locationinputdoendiv ul li:nth-child(even) a {
  color: #93959f;
}

.list-group-item {
  border: none !important;
}

.puneul {
  line-height: 0;
}

/* top img start */
.topfoodimage {
  position: relative;
  left: calc(2% + 43px);
  right: 0;
  width: 136%;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  background-position: 100%;
  top: 0;
  background-color: hsla(26, 5%, 70%, .2);
  background-image: url(../assets/image/logingpage/logingfoodimg2.jpeg);
}

/* top img end */
/*section 2 start */
.section2row {
  padding-bottom: 3.5rem;
}

.section2 {
  background-color: #2b1e16;
  color: #fff;
}

.section2con {
  display: flex;
  justify-content: space-around;
}

.feactermain1 {
  text-align: center;
}

.feactermain1 img {
  width: 115px;
  height: 205px;
}

.feactermain1 p {
  font-size: 15px;
  width: 260px;
  margin-top: 10px;
  color: #e0cbc1;
  line-height: 1.3;
}

.feactermain1 h2 {
  padding-top: 1.5rem;
}

/*section 2 end */
/* section 3 start */
.section3row {
  padding-top: 4rem;
}

.section3row .col-5 h2 {
  font-size: 40px;
  font-weight: 500;
  width: 300px;
  line-height: 1;
  padding-top: 3rem;
}

.section3row .col-5 h5 {
  font-size: 20px;
  width: 400px;
  font-weight: 300;
  padding-top: 7px;
  padding-bottom: 50px;
  color: #7e808c;
  line-height: 1.2;
}

.app-link {
  display: flex;
}

.app-link a {
  width: 38%;
}

.app-link img {
  width: 87%;
}

.phonelogingdiv img {
  width: 370px;
}

.phoneimg1 {
  margin-top: -130px;
}

/* section 3 end */
/* slide signup section start */
.slidecol {
  background: #FFF;
  height: 100%;
}

.mat-drawer-opened {
  width: 30%;
}

.closeiconbtn {
  background: none;
  border: none;
}

.closeiconbtn:focus {
  display: none;
}

.signuptologinlink:after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 30px;
  border: 1px solid #000;
}

.signuptextmain {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slidelogoimg {
  width: 100px;
}

.mat-drawer.mat-drawer-end {
  width: 40% !important;
}

.signuptext a {
  color: var(--main-color);
}

/* form */
.formmaindiv {
  display: block;
}

.sample1 {
  border-bottom: 0;
  border: 1px solid #d4d5d9;
  padding: 0;
  display: block;
  position: relative;
  transform: translateZ(0);
}

.inptsample {
  background-color: transparent;
  line-height: normal;
  border: none;
  outline: none;
  height: 70px;
  width: 100%;
  font-size: 17px;
  margin: 0;
  padding: 0 20px;
  padding-top: 22px;
  font-weight: 500;
}

.samplelabel {
  position: absolute;
  left: 0;
  bottom: 24px;
  padding-left: 20px;
  line-height: 20px;
  font-size: 17px;
  transition: .2s ease;
  width: 100%;
  color: #93959f;
  will-change: transform, color, font-size;
  pointer-events: none;
  font-weight: 400;
}

.formmaindiv :focus .samplelabel {
  font-size: 12px;
  font-weight: 500;
  color: #7e808c;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

/* slide signup section end */
/* first section end*/
/* loging page end*/

.red {
  font-size: 12px;
  font-weight: 500;
  color: #7e808c;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}
.inptsample:focus .samplelabel{
  font-size: 12px;
  font-weight: 500;
  color: #7e808c;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}
