<div class="main">
  <div class="closeandtitle">
    <h2><span><i class='bx bx-x'></i></span><span>Save delivery address</span></h2>
  </div>
  <div class="addressinputmain">
    <form class="formmain pt-5" [formGroup]="loginForm" (ngSubmit)="onsubmit()" action="location">
      <div class="formmaindiv" [ngClass]="{'erro' : this.addrerror&&f.address.errors}">
        <div>
          <input (focus)="onFocus('addr')" (focusout)="focusOut('addr')" type="text" class="inputsignup"
            formControlName="address" required>
          <label [ngClass]="{'focuslabel' : this.addr}" class="inputlabel">
            <span *ngIf="this.addrerror&&f.address.errors">Enter Your </span>
            <span *ngIf="f.address!">Address</span>
            <span *ngIf="f.address.errors&&f.address.errors?.['minlength']">min 8 letters</span>
          </label>
        </div>
      </div>
      <div class="formmaindiv" [ngClass]="{'erro' : this.doorerror&&f.dooraddress.errors}">
        <div>
          <input (focus)="onFocus('door')" (focusout)="focusOut('door')" type="text" class="inputsignup"
            formControlName="dooraddress" required>
          <label [ngClass]="{'focuslabel' : this.door}" class="inputlabel">
            <span *ngIf="f.dooraddress!">Door / Flat No.</span>
            <span *ngIf="f.dooraddress.errors">Can not be empty</span>
          </label>
        </div>
      </div>
      <div class="formmaindiv" [ngClass]="{'erro' : this.landerror&&f.landmark.errors}">
        <div>
          <input (focus)="onFocus('land')" (focusout)="focusOut('land')" type="text" class="inputsignup"
            formControlName="landmark" required>
          <label [ngClass]="{'focuslabel' : this.land}" class="inputlabel">
            <span *ngIf="f.landmark!">Landmark</span>
            <span *ngIf="f.landmark.errors"> Can not be empty</span>
          </label>
        </div>
      </div>
      <button class="loginbtnpage" type="submit">LOGIN</button>
      <p class="termspara">By clicking on Login, <a href="#"> I accept the Terms & Conditions & Privacy Policy</a>
      </p>
    </form>
  </div>
</div>
