<div class="mainfooter">
<div class="container companycont">
  <div class="row">
    <div class="col-12 maincol">
      <div class="col-3 companycol">
        <p>COMPANY</p>
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Team</a></li>
          <li><a href="">Careers</a></li>
          <li><a href="">Swiggy Blog</a></li>
          <li><a href="">Bug Bounty</a></li>
          <li><a href="">Swiggy Ony</a></li>
          <li><a href="">Swiggy Corporate</a></li>
          <li><a href="">Swiggy Instamart</a></li>
        </ul>
      </div>
      <div class="col-3">
        <p>CONTACT</p>
        <ul>
          <li><a href="">Help & Support</a></li>
          <li><a href="">Partner with us</a></li>
          <li><a href="">Ride with us</a></li>
        </ul>
      </div>
      <div class="col-3">
        <p>LEGAL</p>
        <ul>
          <li><a href="">Terms & Conditions</a></li>
          <li><a href="">Refund & Cancellation</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Cookie Policy</a></li>
          <li><a href="">Offer Terms</a></li>
          <li><a href="">Phishing & Fraud</a></li>
          <li><a href="">Corporate – Swiggy Money Codes Terms and Conditions</a></li>
        </ul>
      </div>
      <div class="col-3 pt-3 text-center">
        <div class="imgdiv1">
          <a href="">
            <img src="../../../assets/image/logingpage/iOS_ajgrty.png" alt="">
          </a>
        </div>
        <div class="imgdiv2">
          <a href="">
            <img src="../../../assets/image/logingpage/play.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
