.homesection{
  padding-top:8rem;
}
.mainhead{
  display: flex;
  justify-content: space-between;
}
.fliterdiv{
  display: flex;
}
.fliterdiv ul{
  display: flex;
  position: relative;
}
.fliterdiv ul li button{
  border: none;
  padding-right: 15px;
  background: none;
}
.fliterdiv ul li button::after{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 1px;
  top: 31px;
  background: #282c3f;
  transition: all .2s ease-in;
}
.rele,.block{
  display: none ;
}
.show{
  display: block;
}
.btnn{
  background-color: #fff;
  border: none;
  margin-right: 15px;
  color: #686b78;
  position: relative;
}
.active{
  color: black;
}
.active::after{
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 1px;
  top: 31px;
  background: #282c3f;
  transition: all .2s ease-in;
}
