<app-navbar></app-navbar>
<section class="homesection">
  <div class="container">
    <div class="row">
      <div class="mainhead">
        <h1>34 restaurants</h1>
        <mat-tab-group mat-align-tabs="end">
          <mat-tab label="Relevance"> Content 1 </mat-tab>
          <mat-tab label="Delivery Time"> Content 2 </mat-tab>
          <mat-tab label="Rating"> Content 3 </mat-tab>
          <mat-tab label="Cost:Low To High"> Content 4 </mat-tab>
          <mat-tab label="Cost:High To Low"> Content 3 </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>
