<div class="main">
  <mat-sidenav-container>
    <mat-sidenav-content>
      <app-navbar></app-navbar>
      <section class="homesection">
        <div class="container">
          <div class="row">
            <div class="mainhead">
              <h1>34 restaurants</h1>
              <div class="fliterdiv">
                <div class="btn-group" (click)="onButtonGroupClick($event)">
                  <button #rele class="btnn active" type="button" id="rele">Relevance</button>
                  <button class="btnn" type="button" id="deli">Delivery Time</button>
                  <button #rati class="btnn" type="button" id="rati">Rating</button>
                  <button class="btnn" type="button" id="lowt">Cost:Low To High</button>
                  <button class="btnn" type="button" id="high">Cost:High To Low</button>
                  <h3 (click)="add=!add" class="filter-btn">Filter<i class='bx bx-filter'></i></h3>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div [ngClass]="{'show':this.clickedElement?.id == undefined,'block':this.clickedElement?.id!=='rele'}">
              <h1>rele</h1>
            </div>
            <div *ngIf="this.clickedElement?.id == 'deli'">
              <h1>deli</h1>
            </div>
            <div *ngIf="this.clickedElement?.id == 'rati'">
              <h1>rati</h1>
            </div>
            <div *ngIf="this.clickedElement?.id == 'lowt'">
              <h1>lowt</h1>
            </div>
            <div *ngIf="this.clickedElement?.id == 'high'">
              <h1>high</h1>
            </div>
          </div>
        </div>
      </section>
    </mat-sidenav-content>
    <mat-sidenav position="end" [(opened)]="add">
      <div class="slide">
        <div class="closediv">
          <mat-icon>close</mat-icon>
          <h2>Filter</h2>
        </div>
        <div>
          <h3>Cuisines</h3>
          <div class="maincheck">
            <div class="subcheck">
              <ul>
                <li>
                  <label class="sublabel">American
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li> <label class="sublabel">Arabian
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="sublabel">Barbecue
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="sublabel">Biryani
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="subcheck subcheck2">
              <ul>
                <li>
                  <label class="sublabel">Andhra
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="sublabel">Bakery
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="sublabel">Beverages
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="sublabel">Cafe
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <h3>Show Restaurants With</h3>
          <div class="maincheck">
            <div class="subcheck">
              <ul>
                <li>
                  <label class="sublabel">Offers
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="subcheck subcheck2">
              <ul>
                <li>
                  <label class="sublabel">Pure Veg
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
