<app-navbar></app-navbar>
<section class="homesection">
  <div class="container">
    <div class="row">
      <div class="mainhead">
        <h1>34 restaurants</h1>
        <div class="fliterdiv">
          <!-- <ul>
            <li><button #rele id="namsent" (click)="addrele(rele)" [ngClass]="{'focuslabel' : this.sam}" >Relevance</button></li>
            <li><button #deli (click)="addrele(deli)">Delivery Time</button></li>
            <li><button #rati (click)="addrele(rati)">Rating</button></li>
            <li><button #low (click)="addrele(low)">Cost:Low To High</button></li>
            <li><button #high (click)="addrele(high)">Cost:High To Low</button></li>
          </ul> -->
          <div class="btn-group" (click)="onButtonGroupClick($event)">
            <button #rele class="btnn active" type="button" id="rele">Relevance</button>
            <button class="btnn" type="button" id="deli">Delivery Time</button>
            <button #rati class="btnn" type="button" id="rati">Rating</button>
            <button class="btnn" type="button" id="lowt">Cost:Low To High</button>
            <button class="btnn" type="button" id="high">Cost:High To Low</button>
          </div>
          <h3>Filter<mat-icon>filter_list</mat-icon></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div  [ngClass]="{'show':this.clickedElement?.id == undefined,'block':this.clickedElement?.id!=='rele'}">
        <h1>rele</h1>
      </div>
      <div *ngIf="this.clickedElement?.id == 'deli'">
        <h1>deli</h1>
      </div>
      <div *ngIf="this.clickedElement?.id == 'rati'" >
        <h1>rati</h1>
      </div>
      <div *ngIf="this.clickedElement?.id == 'lowt'" >
        <h1>lowt</h1>
      </div>
      <div *ngIf="this.clickedElement?.id == 'high'" >
        <h1>high</h1>
      </div>
    </div>
  </div>
</section>

