/* none cart */
.noncartcon {
  padding-top: 10rem;
  text-align: -webkit-center;
}

.noncartimgdiv {
  width: 271px;
  height: 256px;
}

.noncartimgdiv img {
  width: 100%;
}

.noncarttextdiv h2 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #535665;
}

.noncarttextdiv p {
  margin-top: 3px;
  color: #7e808c;
}

.noncartbtn button {
  padding: 11px 20px;
  background-color: #fc8019;
  color: #fff;
  font-weight: 600;
  border: none;
  font-size: 15px;
  text-align: center;
  transition: all .4s ease-in-out;
}

.noncartbtn button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* cart start */
.cartmain {
  background-color: #e9ecee;
}

.addresscol {
  background-color: #FFF;
  color: #282c3f;
  position: relative;
  padding: 35px 40px 39px;
}

.selectaddressdiv h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

.selectaddressdiv p {
  font-size: 15px;
  color: #7e808c;
  font-weight: 300;
  margin-top: -15px;
}

.line {
  border-color: #bebfc5;
  position: absolute;
  border-left: 1px dashed #282c3f;
  top: 35px;
  left: -10px;
  bottom: -57px;
}

.addressicon {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #282c3f;
  box-shadow: 0 3px 5px 0 rgb(40 44 63 / 40%);
  top: 34px;
  left: -30px;
}

.addressicon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.useraddress {
  padding: 23px 30px 29px 57px;
  border: 1px solid #e9e9eb;
  position: relative;
  width: 49%;
  transition: all .3s ease-in-out;
}

.bx-home-alt {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 23px;
  color: #3d4152;
}

.addresstext h3,
.addresstextdef h3 {
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: -5px;
}

.addresstext p,
.addresstextdef p {
  font-size: 14px;
  color: #93959f;
  font-weight: 300;
  overflow: hidden;
}

.deliverybtn {
  padding-top: 1rem;
}

.deliverybtn p {
  font-size: 13px;
  color: #282c3f;
  font-weight: 500;
  margin: 10px 0 17px;
}

.deliverybtn button {
  color: #fff;
  background: #60b246;
  border: none;
  width: 130px;
  height: 34px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.showaddress {
  display: flex;
  justify-content: space-between;
}

.addaddress {
  padding: 23px 30px 29px 57px;
  border: 1px solid #e9e9eb;
  border-style: dashed;
  position: relative;
  width: 49%;
  transition: all .3s ease-in-out;
}

.addaddress:hover,
.useraddress:hover {
  box-shadow: 0 2px 8px #d4d5d9;
}

.addaddress i {
  position: absolute;
  top: 23px;
  left: 20px;
  font-size: 23px;
  color: #3d4152;
}

.addaddress i mat-icon {
  position: absolute;
  top: -1px;
  left: 13px;
  font-size: 13px;
  color: #60b246;
}

.deliverybtndef {
  padding-top: 2rem;
}

.deliverybtndef button {
  color: #60b246;
  background: #fff;
  border: 1px solid #60b246;
  width: 130px;
  height: 34px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

/* pyment sub start */
.paymentsubshow {
  position: relative;
  background-color: #fff;
  padding: 25px 40px 30px;
}

.paymentsubshow h2 {
  color: #93959f;
  letter-spacing: -.3px;
  margin-bottom: -3px;
  margin-left: -2px;
}

.walleticon {
  position: absolute;
  width: 40px;
  height: 40px;
  box-shadow: 0 3px 5px 0 rgb(40 44 63 / 40%);
  top: 22px;
  left: -30px;
  background-color: #fff;
}

.walleticon i {
  color: #282c3f;
}

/* sub adderss */
.sumaddress {
  border: none !important;
  padding: 0;
}

.sumaddress:hover {
  box-shadow: none !important;
}

.sumaddress .deliverybtn {
  padding-top: 0;
}

.subcol {
  padding: 35px 40px 15px;
}

.subhead {
  display: flex;
}

.subselect {
  display: flex;
  justify-content: space-between;
}

.bxs-check-circle {
  color: #60b246;
  font-size: 25px;
  margin-left: 25px;
  margin-top: 4px;
}

.changebtn {
  background: none;
  border: none;
  color: var(--main-color);
  line-height: 2.14;
  font-weight: 500;
}

/* payment start */
.addressandpyment {
  padding-bottom: 6rem;
}

.paymentmain {
  display: flex;
  justify-content: space-between;
}

.paymentshow {
  position: relative;
  background-color: #fff;
  padding: 25px 40px 30px;
}

.paymentshow h2 {
  color: black;
  letter-spacing: -.3px;
}

.subwalleticon {
  background-color: #282c3f;
}

.subwalleticon i {
  color: #fff;
}

.paymentap {
  width: 230px;
  background-color: #edf1f7;
  padding: 20px 0 15px 15px;
}

.paymentap div {
  font-weight: 500;
  color: #686b78;
  align-items: center;
  height: 70px;
  position: relative;
  cursor: pointer;
  display: flex;
}

.paymentap div:hover {
  color: black;
}

.paymentap div i {
  font-size: 23px;
  margin-left: 10px;
}

.paymentap div span {
  margin-left: 10px;
  font-size: 18px;

}

.active {
  background-color: #fff;
  color: black !important;
}

.payshow {
  padding: 30px;
  padding-bottom: 29px;
  border: 1px solid #e9e9eb;
  margin-bottom: 20px;
}

.payshow h3 {
  margin: 0 0 -3px;
  font-weight: 500;
  font-size: 17px;
}

.paylogo img {
  width: 40px;
}

.walletshow {
  width: 65%;
}

.payshow button {
  width: 142px;
  height: 40px;
  margin-top: 8px;
  background: #60b246;
  color: #fff;
  font-weight: 600;
  border: none;
  transition: all .3s ease-in;
}

.payshow button:hover {
  box-shadow: 0 4px 14px #d4d5d9;
}

.payshow a {
  color: var(--main-color);
  font-weight: 600;
  transition: all .2s ease-in-out;
}

.payshow a:hover {
  color: black;
}

.cardname {
  display: flex;
  align-items: center;
}

.bankimg {
  display: flex;
  padding-left: 5px;
}

.bankimg img {
  height: 12px;
  margin-right: 20px;
}

/* card start */
.carddiv {
  border: 1px solid #d4d5d9;
  position: relative;
}

.cardinput {
  border: none;
  outline: none;
  height: 70px;
  width: 100%;
  font-size: 17px;
  margin: 0;
  padding: 0 20px;
  padding-top: 22px;
  font-weight: 500;
}

.inputlabel {
  position: absolute;
  left: 0;
  bottom: 24px;
  padding-left: 20px;
  line-height: 20px;
  font-size: 17px;
  cursor: text;
  transition: .2s ease;
  width: 100%;
  color: #93959f;
  pointer-events: none;
  font-weight: 400;
}

.inp {
  position: absolute;
  left: 0;
  bottom: 24px;
  padding-left: 20px;
  line-height: 20px;
  font-size: 17px;
  cursor: text;
  transition: .2s ease;
  width: 100%;
  color: #93959f;
  pointer-events: none;
  font-weight: 400;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.focuslabel {
  font-size: 12px;
  font-weight: 500;
  color: #7e808c;
  -ms-transform: translateY(-70%);
  transform: translateY(-70%);
}

.date-cvv {
  display: flex;
}

.date {
  width: 60%;
}

.cvv {
  width: 41%;
}

.sublabel {
  display: block;
  position: relative;
  padding-left: 28px;
  margin-bottom: 12px;
  color: #3d4152;
  font-size: 13px;
  font-weight: 300;
}

.sublabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark,
.checkmarkra {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #686b78;
}

.sublabel input:checked~.checkmark {
  background-color: #60b246;
}

.sublabel input:checked~.checkmarkra {
  background-color: #60b246;
}

.checkmark:after,
.checkmarkra:after {
  content: "";
  position: absolute;
  display: none;
}

.sublabel input:checked~.checkmark:after {
  display: block;
}

.sublabel input:checked~.checkmarkra:after {
  display: block;
}

.sublabel .checkmark:after,
.sublabel .checkmarkra:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.btnpay button {
  height: 50px;
  line-height: 50px;
  background: #60b246;
  font-size: 15px;
  margin-bottom: 5px;
  width: 100%;
  color: #fff;
  font-weight: 600;
  border: none;
  transition: all .3s ease;
}

.btnpay button:hover {
  box-shadow: 0 4px 14px #d4d5d9;
}

.btnpay span {
  color: #93959f;
  font-size: 12px;
  font-weight: 300;
}

.checkboxdiv {
  cursor: pointer;
}

.carddiv img {
  height: 15px !important;
  position: absolute;
  right: 15px;
  bottom: -25px;
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes example {
  from {
    bottom: -20;
  }

  to {
    bottom: 15px;
  }
}

/* netbaking */
.radiocontainer {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;

}

.radiocontainer input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmarkra {
  height: 20px;
  width: 20px;
  border-radius: 25px;
  top: 5px;
  left: -15px;
}

.radiocontainer input:checked~.checkmarkra {
  background-color: #60b246;
}

.checkmarkra:after {
  content: "";
  position: absolute;
  display: none;
}

.radiocontainer input:checked~.checkmarkra:after {
  display: block;
}

.radiocontainer .checkmarkra:after {
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.bankbtn {
  justify-content: space-between;
  display: inline-flex;
  background: none;
  align-items: center;
  border: 1px solid #e9e9eb;
  padding: 10px 15px;
  width: 182px;
  margin: 0 20px 20px 0;
  border-radius: 3px;
  outline: 0;
  transition: all .3s ease;
}

.netbankimg img {
  max-height: 40px;
  width: 40px;
}

.bankname {
  font-weight: 500;
  color: #282c3f;
  font-size: 15px;
  align-self: center;
  margin-left: 10px;
}

.netbakinimgname {
  display: flex;
}

.fnalbottom {
  border-bottom: 1px solid #e9e9eb;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.otherselect {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e9e9eb;
  padding: 0 15px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 30px;
  height: 50px;
  align-items: center;
}

.otherselect p {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
}

.otherselect i {
  color: var(--main-color);
  font-size: 30px;
}

/* dropdown start */
.dropdownshow {
  height: 130px;
  overflow: auto;
  position: absolute;
  background-color: #fff;
  width: 100%;
  border: 1px solid #e9e9eb;
  top: 50px;
}

.dropdownshow ul {
  padding: 0 15px;
}

.dropdownshow ul li {
  padding-left: 15px;
  color: #686b78;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.dropdownshow ul li:hover {
  color: black;
}

.dropbtn {
  height: 0px !important;
}

.otherbanks {
  position: relative;
}

.bankbtn:hover {
  box-shadow: 0 2px 8px #d4d5d9;
}

.upiimg {
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.upiimg img {
  height: 18px;
  margin-right: 10px;
}

.upiimg p {
  margin: 0 0 4px;
  color: #93959f;
  font-size: 13px;
}

.upiname {
  font-size: 12px;
  font-weight: 500;
  color: #7e808c;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid black;
}

.upihead {
  display: flex;
  justify-content: space-between;
}

.upihead img {
  margin-top: 10px;
  height: 15px;
}

.upihead span {
  width: 56%;
  color: #686b78;
  margin-left: -23px;
  font-size: 13px;
}

.upihead button {
  background: none;
  border: none;
  color: #5d8ed5;
  font-weight: 600;
  margin-left: 20px;
  font-size: 12px;
}

.upiinputhead h3 {
  font-size: 17px;
  font-weight: 500;
  color: #282c3f;
  line-height: 1;
  margin: 0 0 3px;
}

.upiinputhead span {
  font-size: 14px;
  color: #686b78;
}

.upiinputmain {
  width: 75%;
}

.checkboxcontainer {
  display: block;
  position: relative;
  margin-bottom: 12px;
  color: #3d4152;
  font-size: 13px;
  font-weight: 300;
}

.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: transparent;
  border: 1px solid #686b78;
}

.checkboxcontainer input:checked~.checkmark {
  background-color: #60b246;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxcontainer input:checked~.checkmark:after {
  display: block;
}

.checkboxcontainer .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.upipaybtn {
  width: 75%;
}

/* cod start*/
.codtext {
  padding-top: 2rem;
  width: 70%;
}

.codtext h3 {
  font-weight: 500;
  font-size: 17px;
  margin: 0 0 0px;
}

.codtext span {
  font-size: 13px;
  color: #7e808c;
  font-weight: 300;
  width: 250px;
}

/* slide bar */
.slidebarmaindiv {
  background-color: #fff;
  width: 100%;
  padding: 20px 30px;
}

.firsthead {
  display: flex;
}

.firsthead .sideimgdiv {
  width: 50px;
  height: 50px;
}

.sideimgdiv img {
  width: 100%;
}

.foodnameshow {
  margin-left: 13px;
  position: relative;
}

.foodnameshow h4 {
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 -3px;
}

.foodnameshow span {
  font-size: 13px;
  color: #686b78;
}

.foodnameshow span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: black;
  width: 40px;
  height: 2px;
}

.adddiv {
  display: flex;
  justify-content: space-around;
}

.addbtndiv {
  color: #60b246;
  border: 1px solid #d4d5d9;
  bottom: 8px;
  width: 96px;
  line-height: 36px;
  margin-right: -70px;
  display: inline-block;
  height: 36px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  background-color: #fff;
}

.decrease,
.increase {
  cursor: pointer;
}

.price {
  font-size: 13px;
  color: #686b78;
}

.addandpriceshowdiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bx-checkbox {
  font-size: 30px;
  position: relative;
  color: #0f8a65;
  margin-left: -5px;
}

.bxs-circle {
  font-size: 9px;
  position: absolute;
  top: 10.2px;
  left: 10px;
}

.addandpriceshowdiv p {
  font-size: 14px;
  font-weight: 400;
  margin: 0px 0 -2px;
}

.cusbtn {
  background: none;
  border: none;
  font-size: 11px;
  color: #686b78;
  font-weight: 500;
}

.cusbtn i {
  color: var(--main-color);
  font-size: 13px;
}

.foodname {
  margin-left: -70px;
}

/* text arar*/
.textareamaindiv {
  color: #686b78;
  font-size: 13px;
  margin-top: 15px;
  position: relative;
  height: 51px;
}

.textareamaindiv textarea {
  border: none;
  resize: none;
  outline: none;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding: 16px 16px 16px 40px;
  color: #3d4152;
  font-weight: 400;
  font-size: 14px;
  background: #f9f9f9;
}

.quoteicon {
  position: absolute;
  top: 20px;
  left: 20px;
}

#sugg::placeholder {
  font-size: 12px;
  padding-left: 5px;
}

.no-contactmaindiv {
  cursor: pointer;
  padding-top: 1rem;
  display: flex;
  padding: 5px 15px;
  border: 1px solid #a9abb2;
}

.no-contactmaindiv:hover {
  box-shadow: 0 3px 8px #e9e9eb;
}

.no-contactmaindiv p {
  font-weight: 500;
  margin: 0 0 0px;
}

.no-context {
  display: flex;
}

.note {
  opacity: .6;
  font-weight: 300 !important;
}

/* apply coupon star */
.applymaindiv {
  border: 1px dashed #a9abb2;
  align-items: center;
  cursor: pointer;
  padding: 0 15px;
  font-weight: 400;
  height: 55px;
  color: #535665;
  display: flex;
  font-size: 14px;
  transition: all .3s ;
}
.applymaindiv:hover{
  box-shadow: 0 3px 8px #e9e9eb;
}
.applymaindiv p{
  margin: 0 10px 0px;
}
.applymaindiv i{
  font-size: 20px;
}
.priceshow{
  float: right;
}
.firstsubprice{
  font-size: 13px;
  color: #686b78;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e9e9eb;
}
.firstsubprice span{
  position: relative;
}
.info {
  position: absolute;
  top: 3px;
  margin-left: 5px;
}
.taxes{
  font-size: 13px;
  color: #686b78;
  border-bottom: 2px solid black;
}
.taxes span{
  position: relative;
}
.total{
  font-weight: 600;
}
/* tooltips */
