<app-navbar cartName="{{this.product.con}}"></app-navbar>
<div class="noncart" *ngIf="this.noncart">
  <div class="container">
    <div class="noncartcon">
      <div class="noncartimgdiv">
        <img src="{{this.pathofimg}}/cart/noncart.png" alt="">
      </div>
      <div class="noncarttextdiv">
        <h2>Your cart is empty</h2>
        <p>You can go to home page to view more restaurants</p>
      </div>
      <div class="noncartbtn pt-2">
        <button>SEE RESTAURANTS NEAR YOU</button>
      </div>
    </div>
  </div>
</div>
<div class="cartmain">
  <div class="container pt-5">
    <div class="row">
      <div class="col-8 ">
        <div class="addressandpyment" *ngIf="this.subpayment">
          <div class="addressmain addresscol">
            <div class="selectaddressdiv">
              <div class="line"></div>
              <div class="addressicon">
                <i class='bx bx-map'></i>
              </div>
              <h2>Select delivery address</h2>
              <p>You have a saved address in this location</p>
            </div>
            <div class="showaddress">
              <div class="useraddress" (click)="this.subpayment = !this.subpayment">
                <i class='bx bx-home-alt'></i>
                <div class="addresstext">
                  <h3>Home</h3>
                  <p>cp home, 44Q3+45C, Pullur, Pulpatta, Kerala 676121, India</p>
                </div>
                <div class="deliverybtn">
                  <p>36 MINS</p>
                  <button>DELIVER HERE</button>
                </div>
              </div>
              <div class="addaddress">
                <i class='bx bx-map'>
                  <mat-icon>add_circle</mat-icon>
                </i>
                <div class="addresstextdef">
                  <h3>Add New Address</h3>
                  <p>44Q3+45C, Pullur, Pulpatta, Kerala 676121, India</p>
                </div>
                <div class="deliverybtndef">
                  <button>ADD NEW</button>
                </div>
              </div>
            </div>
          </div>
          <div class="paymentsubshow mt-4">
            <div class="addressicon walleticon">
              <i class='bx bx-wallet'></i>
            </div>
            <h2>Payment</h2>
          </div>
        </div>
        <!--sub-->
        <div class="addressandpyment" *ngIf="!this.subpayment">
          <div class="addressmain addresscol subcol">
            <div class="selectaddressdiv subselect">
              <div class="line"></div>
              <div class="addressicon">
                <i class='bx bx-map'></i>
              </div>
              <div class="subhead">
                <h2>Deliver address</h2> <i class='bx bxs-check-circle'></i>
              </div>
              <button class="changebtn" (click)="this.subpayment = !this.subpayment">CHANGE</button>
            </div>
            <div class="showaddress">
              <div class="useraddress sumaddress">
                <div class="addresstext ">
                  <h3>Home</h3>
                  <p>cp home, 44Q3+45C, Pullur, Pulpatta, Kerala 676121, India</p>
                </div>
                <div class="deliverybtn">
                  <p>36 MINS</p>
                </div>
              </div>
            </div>
          </div>
          <div class="paymentshow mt-4">
            <div class="addressicon walleticon subwalleticon">
              <i class='bx bx-wallet'></i>
            </div>
            <h2>Choose payment method</h2>
            <div class="paymentmain">
              <div class="paymentap">
                <div class="wallets active" #wa (click)="this.wallets = 'wallets';activefun(wa)">
                  <i class='bx bxs-wallet-alt'></i><span>Wallets</span>
                </div>
                <div class="ceranddeb" #cr (click)="this.wallets = 'credit';activefun(cr)">
                  <i class='bx bxs-credit-card-front'></i><span>Credit & Debit cards</span>
                </div>
                <div class="sedexo" #se (click)="this.wallets = 'sedexo';activefun(se)">
                  <i class='bx bxs-credit-card'></i><span>Sedexo</span>
                </div>
                <div class="netbank" #ne (click)="this.wallets = 'netbanking';activefun(ne)">
                  <i class='bx bxs-bank'></i><span>Netbanking</span>
                </div>
                <div class="upi" #up (click)="this.wallets = 'upi';activefun(up)">
                  <i class='bx bxl-paypal'></i><span>UPI</span>
                </div>
                <div class="payon" #co (click)="this.wallets = 'cod';activefun(co)">
                  <i class='bx bx-package'></i><span>Pay on delivery</span>
                </div>
              </div>
              <div class="walletshow" *ngIf="this.wallets == 'wallets'">
                <div class="payshow">
                  <div class="paylogo">
                    <img src="{{this.pathofimg}}/payment/amazon.png" alt="">
                  </div>
                  <h3 class="pt-3">Amazon Pay</h3>
                  <button>PAY ₹70</button>
                </div>
                <div class="payshow">
                  <div class="paylogo">
                    <img src="{{this.pathofimg}}/payment/paytm.png" alt="">
                  </div>
                  <h3 class="pt-3">Paytm</h3>
                  <a href="">LINK ACCOUNT</a>
                </div>
                <div class="payshow">
                  <div class="paylogo">
                    <img src="{{this.pathofimg}}/payment/phonepe.png" alt="">
                  </div>
                  <h3 class="pt-3">PhonePe</h3>
                  <a href="">LINK ACCOUNT</a>
                </div>
              </div>
              <div class="walletshow" *ngIf="this.wallets == 'credit'">
                <h2>Add new card</h2>
                <div class="cardname">
                  <span>WE ACCEPT</span>
                  <div class="bankimg">
                    <img src="{{this.pathofimg}}/bank/Visa.png" alt="">
                    <img src="{{this.pathofimg}}/bank/Mastercard.png" alt="">
                    <img src="{{this.pathofimg}}/bank/Amex.png" alt="">
                    <img src="{{this.pathofimg}}/bank/RuPayColoured.png" alt="">
                  </div>
                </div>
                <div class="cardinputmain pt-5">
                  <form action="">
                    <div class="carddiv">
                      <img src="{{this.pathofimg}}/bank/{{this.cardimgname}}" *ngIf="this.cardimgname" alt="">
                      <input class="cardinput" mask="0000 0000 0000 0000 00" (focus)="onFocus('cardnum')"
                        (focusout)="focusOut(cardnumber.value)" (input)="getCardType(cardnumber.value)" #cardnumber
                        type="text" required>
                      <label [ngClass]="{'focuslabel' : this.textcard == 'cardnum'||cardnumber.value}"
                        class="inputlabel">Card number</label>
                    </div>
                    <div class="date-cvv">
                      <div class="carddiv date">
                        <input class="cardinput" [specialCharacters]="['\\']" mask="00\00"
                          (focus)="onFocus('cardvalid')" (focusout)="focusOut(cardvalid.value)" #cardvalid type="text"
                          required>
                        <label [ngClass]="{'focuslabel' : this.textcard == 'cardvalid'||cardvalid.value}"
                          class="inputlabel">Valid through(MM/YY)</label>
                      </div>
                      <div class="carddiv cvv">
                        <input class="cardinput" mask="000" (focus)="onFocus('cardcvv')"
                          (focusout)="focusOut(cvv.value)" #cvv type="text" required>
                        <label [ngClass]="{'focuslabel' : this.textcard == 'cardcvv'||cvv.value}"
                          class="inputlabel">CVV</label>
                      </div>
                    </div>
                    <div class="carddiv">
                      <input class="cardinput" oninput="this.value = this.value.toUpperCase()"
                        (focus)="onFocus('cardname')" (focusout)="focusOut(cardname.value)" #cardname type="text"
                        required>
                      <label [ngClass]="{'focuslabel' :this.textcard == 'cardname'||cardname.value}"
                        class="inputlabel">Name on card</label>
                    </div>
                    <div class="pt-3 checkboxdiv">
                      <label class="sublabel">Securely save this card for a faster checkout next time.
                        <input type="checkbox" checked (change)="this.checkboxshow = !this.checkboxshow">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="btnpay pt-3">
                      <button>PAY ₹90</button>
                      <span *ngIf="this.checkboxshow">Card details will be saved securely, based of the industry
                        standard</span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="walletshow" *ngIf="this.wallets == 'sedexo'">
                <h2>Add new food card</h2>
                <div class="cardname">
                  <span>WE ACCEPT</span>
                  <div class="bankimg">
                    <img src="{{this.pathofimg}}/bank/Sodexo.png" style="height: 14px;" alt="">
                  </div>
                </div>
                <div class="cardinputmain pt-5">
                  <form action="">
                    <div class="carddiv">
                      <input class="cardinput" mask="0000 0000 0000 0000 000" (focus)="onFocus('cardnum')"
                        (focusout)="focusOut(cardnumber.value)" #cardnumber type="text" required>
                      <label [ngClass]="{'focuslabel':this.textcard == 'cardnum'||cardnumber.value}"
                        class="inputlabel">Card number</label>
                    </div>
                    <div class="date-cvv">
                      <div class="carddiv date">
                        <input class="cardinput" [specialCharacters]="['\\']" mask="00\00"
                          (focus)="onFocus('cardvalid')" (focusout)="focusOut(cardvalid.value)" #cardvalid type="text"
                          required>
                        <label [ngClass]="{'focuslabel':this.textcard == 'cardvalid'||cardvalid.value}"
                          class="inputlabel">Valid through(MM/YY)</label>
                      </div>
                      <div class="carddiv cvv">
                        <input class="cardinput" mask="000" (focus)="onFocus('cardcvv')"
                          (focusout)="focusOut(cvv.value)" #cvv type="text" required>
                        <label [ngClass]="{'focuslabel':this.textcard == 'cardcvv'||cvv.value}"
                          class="inputlabel">CVV</label>
                      </div>
                    </div>
                    <div class="carddiv">
                      <input class="cardinput" oninput="this.value = this.value.toUpperCase()"
                        (focus)="onFocus('cardname')" (focusout)="focusOut(cardname.value)" #cardname type="text"
                        required>
                      <label [ngClass]="{'focuslabel':this.textcard == 'cardname'||cardname.value}"
                        class="inputlabel">Name on card</label>
                    </div>
                    <div class="pt-3 checkboxdiv">
                      <label class="sublabel">Securely save this card for a faster checkout next time.
                        <input type="checkbox" checked (change)="this.checkboxshow = !this.checkboxshow">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="btnpay pt-3">
                      <button>PAY ₹90</button>
                      <span *ngIf="this.checkboxshow">Card details will be saved securely, based of the industry
                        standard</span>
                    </div>
                  </form>
                </div>
              </div>
              <div class="walletshow" *ngIf="this.wallets == 'netbanking'">
                <div class="netmain">
                  <div>
                    <label class="bankbtn" for="HDFC">
                      <div class="netbakinimgname">
                        <div class="netbankimg">
                          <img src="{{this.pathofimg}}/netbaking/hdfc.png" alt="">
                        </div>
                        <div class="bankname">HDFC</div>
                      </div>
                      <div class="raidobox">
                        <label class="radiocontainer ">
                          <input type="radio" id="HDFC" name="payment" (change)="resetdropdown($event)">
                          <span class="checkmarkra"></span>
                        </label>
                      </div>
                    </label>
                    <label class="bankbtn" for="ICICI">
                      <div class="netbakinimgname">
                        <div class="netbankimg">
                          <img src="{{this.pathofimg}}/netbaking/icici.png" alt="">
                        </div>
                        <div class="bankname">ICICI</div>
                      </div>
                      <div class="raidobox">
                        <label class="radiocontainer ">
                          <input type="radio" id="ICICI" name="payment" (change)="resetdropdown($event)">
                          <span class="checkmarkra"></span>
                        </label>
                      </div>
                    </label>
                  </div>
                  <div>
                    <label class="bankbtn" for="SBI">
                      <div class="netbakinimgname">
                        <div class="netbankimg">
                          <img src="{{this.pathofimg}}/netbaking/sbi.png" alt="">
                        </div>
                        <div class="bankname">SBI</div>
                      </div>
                      <div class="raidobox">
                        <label class="radiocontainer ">
                          <input type="radio" id="SBI" name="payment" #sbi (change)="resetdropdown($event)">
                          <span class="checkmarkra"></span>
                        </label>
                      </div>
                    </label>
                    <label class="bankbtn" for="AXIS">
                      <div class="netbakinimgname">
                        <div class="netbankimg">
                          <img src="{{this.pathofimg}}/netbaking/axis.png" alt="">
                        </div>
                        <div class="bankname">AXIS</div>
                      </div>
                      <div class="raidobox">
                        <label class="radiocontainer ">
                          <input type="radio" id="AXIS" name="payment" #axis (change)="resetdropdown($event)">
                          <span class="checkmarkra"></span>
                        </label>
                      </div>
                    </label>
                  </div>
                  <div class="fnalbottom">
                    <label class="bankbtn" for="KOTAK">
                      <div class="netbakinimgname">
                        <div class="netbankimg">
                          <img src="{{this.pathofimg}}/netbaking/kotak.png" alt="">
                        </div>
                        <div class="bankname">KOTAK</div>
                      </div>
                      <div class="raidobox">
                        <label class="radiocontainer ">
                          <input type="radio" id="KOTAK" name="payment" (change)="resetdropdown($event)">
                          <span class="checkmarkra"></span>
                        </label>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="otherbanks">
                  <div class="otherselect" (click)="this.dropdownshow = !this.dropdownshow"
                    (focusout)="this.dropdownshow = false">
                    <p id="sm">Other banks</p><i class='bx bx-chevron-down'></i>
                  </div>
                  <div class="dropdownshow" *ngIf="this.dropdownshow" (focusout)="this.dropdownshow = false">
                    <ul>
                      <li (click)="subdrop(boi)" #boi class="pt-3">Bake of india</li>
                      <li (click)="subdrop(bom)" #bom class="pt-3">Bank of Maharashtra</li>
                      <li (click)="subdrop(cb)" #cb class="pt-3">Canara Bank</li>
                      <li (click)="subdrop(cboi)" #cboi class="pt-3">Central Bank Of India</li>
                      <li (click)="subdrop(cub)" #cub class="pt-3">City Union Bank</li>
                      <li (click)="subdrop(cb)" #cb class="pt-3">Corporation Bank</li>
                      <li (click)="subdrop(dcb)" #dcb class="pt-3">Development Credit Bank</li>
                      <li (click)="subdrop(db)" #db class="pt-3">Deutsche Bank</li>
                    </ul>
                  </div>
                  <div class="btnpay pt-3">
                    <button>PAY ₹90</button>
                  </div>
                </div>
              </div>
              <div class="walletshow" *ngIf="this.wallets == 'upi'">
                <div class="upihead">
                  <img src="{{this.pathofimg}}/upi/UPI-logo.png" alt="">
                  <span>Transfer money from your bank account using UPI with your registered VPA</span>
                  <button>How IT WORK</button>
                </div>
                <div class="cardname upiname pt-3">
                  <span>WE ACCEPT</span>
                  <div class="upiimg">
                    <img src="{{this.pathofimg}}/upi/GooglePay.png" alt="">
                    <img src="{{this.pathofimg}}/upi/PhonePe.png" alt="">
                    <img src="{{this.pathofimg}}/upi/BHIM.png" alt="">
                    <img src="{{this.pathofimg}}/upi/Pockets.png" alt="">
                    <p>& more</p>
                  </div>
                </div>
                <div class="upiinputmain">
                  <div class="upiinputhead pt-4">
                    <h3>Pay via New VPA</h3>
                    <span>You must have a Virtual Payment Address</span>
                  </div>
                  <div class="carddiv mt-4">
                    <input class="cardinput" (focus)="onFocus('cardnum')" (focusout)="focusOut(cardnumber.value)"
                      (input)="getCardType(cardnumber.value)" #cardnumber type="text" required>
                    <label [ngClass]="{'focuslabel' : this.textcard == 'cardnum'||cardnumber.value}"
                      class="inputlabel">Enter VPA</label>
                  </div>
                </div>
                <div class="pt-3 checkboxcontainer">
                  <label class="sublabel">Securely save this VPA for a faster checkout next time.
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="btnpay upipaybtn pt-3">
                  <button>VERIFY AND PAY ₹90</button>
                </div>
              </div>
              <div class="walletshow" *ngIf="this.wallets == 'cod'">
                <div class="pt-4">
                  <img src="{{this.pathofimg}}/cod/Cod.png" alt="">
                  <div class="codtext">
                    <h3>Cash</h3>
                    <span>Pay cash at the time of delivery. We recommend you use online payments for contactless
                      delivery</span>
                    <div class="btnpay upipaybtn pt-4">
                      <button> PAY ₹90</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="slidebarmaindiv">
          <div class="firsthead">
            <div class="sideimgdiv">
              <img src="../../../assets/image/cart/cartbillimg.jpeg" alt="">
            </div>
            <div class="foodnameshow">
              <h4>Gokul Oottupura</h4>
              <span>Panampill Nagar</span>
            </div>
          </div>
          <div class="addandpriceshowdiv pt-4">
            <div>
              <i class='bx bx-checkbox'> <i class='bx bxs-circle'></i></i>
            </div>
            <div class="foodname">
              <p>idii(single)</p>
              <button class="cusbtn"><span>Customize</span><i class='bx bx-chevron-right'></i></button>
            </div>
            <div class="addbtndiv">
              <div class="adddiv">
                <div class="decrease" (click)="this.addnum = this.addnum - 1;zerocheck()">-</div>
                <div class="sum">{{this.addnum}}</div>
                <div class="increase" (click)="this.addnum = this.addnum + 1">+</div>
              </div>
            </div>
            <div class="price">
              <i class='bx bx-rupee'></i>75
            </div>
          </div>
          <div class="textareamaindiv">
            <textarea name="" id="sugg" maxlength="140" placeholder="Any suggestions? We will pass it on..."></textarea>
            <div class="quoteicon"><i class='bx bxs-quote-alt-left'></i></div>
          </div>
          <div class="no-contactmaindiv mt-4">
            <div class=" no-context">
              <div style="padding-top: 5px;">
                <label class="sublabel" style="cursor: pointer;">
                  <input type="checkbox" (change)="this.nocon = !this.nocon">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div>
                <p>Opt in for No-contact Delivery</p>
                <p class="note" *ngIf="this.nocon">Unwell, or avoiding contact? Please select no-contact delivery.
                  Partner will safely place the order outside your door (not for COD)</p>
                <p class="note" *ngIf="!this.nocon">Our delivery partner will call to confirm. Please ensure that your
                  address has all the required details.</p>
              </div>
            </div>
          </div>
          <div class="pt-3">
            <div class="applymaindiv">
              <i class='bx bxs-offer bx-tada'></i>
              <p> Apply Coupon</p>
            </div>
          </div>
          <div class="pricemaindiv pt-3">
            <div>
              <h5>Bill Detalls</h5>
            </div>
            <div class="firstsubprice">
              <div>
                <span>Item Total</span>
                <span class="priceshow"><i class='bx bx-rupee'></i>25</span>
              </div>
              <div>
                <span>Dellivery Fee | 6.6 kms<i class='bx info bx-info-circle'></i>
                </span>
                <span class="priceshow"><i class='bx bx-rupee'></i>97</span>
              </div>
            </div>
            <div class="taxes pt-3 pb-3">
              <div>
                <span>Taxes and Charges
                  <i class='bx info bx-info-circle'></i></span>
                <span class="priceshow"><i class='bx bx-rupee'></i>1.25</span>
              </div>
            </div>
            <div class="total pt-3">
              <div>
                <span>TO PAY</span>
                <span class="priceshow"><i class='bx bx-rupee'></i>123</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
