<section>
  <div right class="container">
    <div class="row">
      <div class="col-7 slidecol">
        <div class="mainsignupdiv">
          <button class="closeiconbtn" >
            <mat-icon>close</mat-icon>
          </button>
          <div class="signuptextmain">
            <div class="signuptext">
              <h2>Sing up</h2>
              <div>
                or <a class="signuptologinlink" href="">login to your account</a>
              </div>
            </div>
            <div class="slidelogoimgdiv">
              <img  class="slidelogoimg" src="../assets/image/logingpage/slidelogo.png" alt="slidelogo">
            </div>
          </div>
          <form class="formmain" action="">
            <div class="formmaindiv" >
              <div class="sample1" >
                <input (focus)="onFocus()" (focusout)="focusOut()"  type="text" class="inptsample" #username [(ngModel)]="userdata" value="{{userdata}}"  required>
                <label   class="samplelabel" [ngClass]="{'sa' : this.car}" for="">Phone number</label>
              </div>
            </div>
            <div class="formmaindiv">
              <div class="sample1" >
                <input type="text" class="inptsample" id="username" name="username" #username   required>
                <label   class="samplelabel" for="">Phone number</label>
              </div>
            </div>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div style="padding-top:20px;">
  <mat-card class="col-4" style="margin:0 auto;float:none;margin-bottom: 10px;">
    <div>
      <div>
        <img class="imageclass" src="../../assets/image/logingpage/slidelogo.png" alt="">
      </div>
      <div class="signupformClass" style="background-color:yellowgreen;color: white;">
        <mat-card>
<h3>Signup form</h3>
        </mat-card>
      </div>
      <div>
        <div>
          <div class="row">
            <div class="col">
              <mat-form-field style="width: 100%;">
                <mat-label>First Name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <mat-form-field style="width: 100%;">
                <mat-label>First Name</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div> -->
