<section>
  <div right class="container">
    <div class="row">
      <div class="col-7 slidecol">
        <div class="mainsignupdiv">
          <button class="closeiconbtn" >
            <mat-icon>close</mat-icon>
          </button>
          <div class="signuptextmain">
            <div class="signuptext">
              <h2>Sing up</h2>
              <div>
                or <a class="signuptologinlink" href="">login to your account</a>
              </div>
            </div>
            <div class="slidelogoimgdiv">
              <img  class="slidelogoimg" src="../assets/image/logingpage/slidelogo.png" alt="slidelogo">
            </div>
          </div>
          <form class="formmain" action="">
            <div class="formmaindiv" >
              <div  >
                <input (focus)="onFocus('one')" (focusout)="focusOut()" name="one"  type="text" class="inputsignup" #username [(ngModel)]="userdata" value="{{userdata}}"  required>
                <label   class="inputlabel" [ngClass]="{'focuslabel' : this.car}" for="">Phone number</label>
              </div>
            </div>
            <div class="formmaindiv" >
              <div  >
                <input (focus)="onFocus('two')" (focusout)="focusOut()" name="one"  type="text" class="inputsignup" #username [(ngModel)]="userdata" value="{{userdata}}"  required>
                <label   class="inputlabel" [ngClass]="{'focuslabel' : this.carr}" for="">Phone number</label>
              </div>
            </div>
            <input type="submit">
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
