<div class="main">
  <mat-sidenav-container>
    <mat-sidenav-content>
      <div class="container">
        <div class="row">
          <div class="col-10 col-md-10 col-lg-6 logocol">
            <div class="loginlogomaindiv justify-content-between">
              <div class="logodiv">
                <img src="../assets/image/logingpage/swiggy-logo.png" alt="swiggy-logo" class="swiggylogoimg">
              </div>
              <div class="loginpagebuttonmaindiv">
                <a class="loginbtn" href="/home" (click)="loginop=!loginop">Login</a>
                <a class="singupbtn" (click)="opened=!opened">Sign Up</a>
              </div>
            </div>
            <div class="logingmaincon">
              <div class="movinglogingdiv">
                <div class="wrapper">
                  <div class="words">
                    <span>Movie marathon?</span>
                    <span>Hungry?</span>
                    <span>Game night?</span>
                    <span>Unexpected guests?</span>
                    <span>Late night at office?</span>
                  </div>
                </div>
              </div>
              <p class="orderfoodtextp">Order food from favourite restaurants near you.</p>
              <div class="locationinputdivmain pt-2">
                <div class="locationinputdiv">
                  <input class="locationinput" type="text" placeholder="Enter your delivery location"
                    ngx-google-places-autocomplete [options]="options" (onAddressChange)="handleAddressChange($event)">
                </div>
                <div class="gitlocation">
                  <button class="btn" name="Continue" type="submit">
                    <mat-icon class="locationicon">gps_fixed</mat-icon>
                    <span>Locate me</span>
                  </button>
                </div>
                <div class="findfoodbtndiv">
                  <a href="#">FIND FOOD</a>
                </div>
              </div>
              <div class="locationinputdoendiv pt-3">
                <p class="py-2">POPULAR CITIES IN INDIA </p>
                <ul>
                  <li class=""><a href="#">Ahmedabad</a></li>
                  <li class="ms-2"><a href="#">Bangalore</a></li>
                  <li class="ms-2"><a href="#">Chennai</a></li>
                  <li class="ms-2"><a href="#">Delhi</a></li>
                  <li class="ms-2"><a href="#">Gurgaon</a></li>
                  <li class="ms-2"><a href="#">Hyderabad</a></li>
                  <li class="ms-2"><a href="#">Kolkata</a></li>
                  <li class="ms-2"><a href="#">Mumbai</a></li>
                </ul>
                <ul class="puneul">
                  <li><a href="#">Pune</a></li>
                  <li class="ms-2"><a href="#">& more.</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="topfoodimage">
            </div>
          </div>
        </div>
      </div>
      <div class="section2">
        <div class="container-fluid">
          <div class="row justify-content-center section2row">
            <div class="col-10">
              <div class="section2con">
                <div class="feactermain1">
                  <img src="../assets/image/logingpage/feac/1.png" alt="feact1">
                  <div class="feacttext1">
                    <h2>No Minimum Order</h2>
                    <p>Order in for yourself or for the group,with no restrictions on order value</p>
                  </div>
                </div>
                <div class="feactermain1">
                  <img src="../assets/image/logingpage/feac/2.png" alt="feact2">
                  <div class="feacttext1">
                    <h2>Live Order Tracking</h2>
                    <p>Know where your order is at all times, from the restaurant to your doorstep</p>
                  </div>
                </div>
                <div class="feactermain1">
                  <img src="../assets/image/logingpage/feac/3.png" alt="feact3">
                  <div class="feacttext1">
                    <h2>Lightning-Fast Delivery</h2>
                    <p>Experience Swiggy's superfast delivery for food delivered fresh & on time</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section>
        <div class="container">
          <div class="row section3row">
            <div class="col-5">
              <h2>Restaurants in your pocket</h2>
              <h5>Order from your favorite restaurants & track on the go, with the all-new Swiggy app.</h5>
              <div class="app-link">
                <a href="#">
                  <img src="../assets/image/logingpage/play.png" alt="play-app-img">
                </a>
                <a href="#">
                  <img src="../assets/image/logingpage/iOS_ajgrty.png" alt="ios-app-img">
                </a>
              </div>
            </div>
            <div class="col-7 phonelogingdiv">
              <img class="phoneimg1" src="../assets/image/logingpage/phoneimg1.png" alt="phoneimg1">
              <img src="../assets/image/logingpage/phoneimg2.png" alt="phoneimg2">
            </div>
          </div>
        </div>
      </section>
    </mat-sidenav-content>
    <mat-sidenav position="end" [(opened)]="opened">
      <!-- slide-signup section start -->
      <app-signup></app-signup>
      <!-- slide signup section end -->
    </mat-sidenav>
    <mat-sidenav position="end" [(opened)]="loginop">
      <app-login></app-login>
    </mat-sidenav>

  </mat-sidenav-container>
  <section style="background-color:#000;">
    <app-footer></app-footer>
  </section>
</div>
