<div class="main h-100 d-flex ">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-6  logingcol">
        <header>
        <h1>SWIGGY</h1>
        <p>Sign in your account</p>
      </header>
      <section>
        <form action="">
          <div class="emaildiv">
          <label for="email">Email</label>
          <input type="email" name="email" placeholder="Enter your Email">
        </div>
        <div class="passworddiv">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Enter your Password">
        </div>
        <div class="remembermain">
          <div class="checkboxdiv">
            <input type="checkbox"><label for="remember">Remember me</label>
          </div>
          <a href="#">Forgot Password</a>
        </div>
        <div class="loginbutdiv">
          <button type="submit">Login</button>
        </div>
        </form>
      </section>
      </div>
    </div>
  </div>
</div>
