.main {
  background-color: var(--sub-main-background);
}

header {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

header h1 {
  font-size: 32px;
  font-weight: 500;
  text-transform: capitalize;
}

header p {
  font-size: 16px;
}

header button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  transition: all .4s;
}

header button:hover {
  background-color: #fff;
  color: var(--sub-main-background);
}
