.mainnav{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
header {
  padding: 10px 30px 5px 30px;
  display: flex;
  h1 {
    font-size: 35px;
    font-weight: 600;
  }
}
.navsection {
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-top: 20px;
      position: relative;
      padding: 10px 10px 10px 10px;

      a {
        color: var(--text-light);
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        padding: 0 18px;
        letter-spacing: 0.5px;
        transition: var(--hover-transition);
        i {
          margin-right: 8px;
        }
        &:hover {
          color: var(--hover);
        }
      }
    }
  }
}
.active {
  background-color: var(--light-active-background);
  a {
    color: var(--active-color) !important;
    font-weight: 500 !important;
  }
  &::before {
    content: "";
    height: 100%;
    width: 8px;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--active-color);
    transition: all 0.5s;
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
/* subnav */
.subheader {
  padding: 10px 0;
}
.subnav {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: fit-content;
  text-align: -webkit-center;
  padding: 0 15px;
  .navsectionsub {
    ul {
      list-style: none;
      padding: 0;
      li {
        width: fit-content;
        margin-top: 20px;
        position: relative;
        padding: 10px 10px 10px 10px;

        a {
          color: var(--text-light);
          text-decoration: none;
          font-size: 24px;
          font-weight: 400;
          padding: 0 10px;
          letter-spacing: 0.5px;
          transition: var(--hover-transition);
          &:hover {
            color: var(--hover);
          }
        }
      }
    }
  }
}
.activesub {
  background-color: var(--active-color);
  border-radius: 10px;
  a {
    color: var(--white-text) !important;
    font-weight: 500 !important;
  }
}
