<div class="container">
<div class="row">
  <div class="col-3">
    <header>
      <h1>SWIGGY</h1>
    </header>
    <section>
      <ul>
        <li><a href=""><span><i class='bx bxs-dashboard' ></i></span><span>Dashboard</span> </a></li>
        <li><a href=""><span><i class='bx bx-analyse'></i></span><span>Analytics</span> </a></li>
        <li><a href=""><span><i class='bx bx-folder-plus'></i></span><span>Add Restaurant</span></a></li>
        <li><a href=""><span><i class='bx bxs-user-rectangle'></i></span><span>User List</span></a></li>
      </ul>
    </section>
  </div>
</div>
</div>
