<section class="mainnav">
    <header>
      <h1>SWIGGY</h1>
    </header>
    <section class="navsection">
      <ul>
        <li class="active"><a  href=""><span><i class='bx bx-cabinet'></i></span><span>Dashboard</span> </a></li>
        <li><a href=""><span><i class='bx bx-bar-chart-alt-2'></i></span><span>Analytics</span> </a></li>
        <li><a href=""><span><i class='bx bx-add-to-queue'></i></span><span>Add Restaurant</span></a></li>
        <li><a href=""><span><i class='bx bx-user' ></i></span><span>User List</span></a></li>
      </ul>
    </section>
  </section>
