.main{
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: #fff;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  transition: transform .3s ease;
  padding-bottom: 6rem;
}
nav{
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.logosection{
  display: flex;
}
.navbar ul{
  display: flex;
}
.navbar ul li{
  padding-left: 15px;
}
.navbar ul li a{
  display: flex;
}
