<section>
  <div class="navmain pt-3">
    <div class="menuandsearch">
      <div class="menudiv">
        <div class="linemaindiv">
          <span class="line linef"></span>
          <span class="line lines"></span>
          <span class="line linet"></span>
        </div>
      </div>
      <div class="searchdiv">
        <div class="search">
          <input type="text" placeholder="Search here...">
          <div><i class='bx bx-search'></i></div>
        </div>
      </div>
    </div>
    <div class="usermaindiv">
      <div class="fullscreen" (click)="fullscreen()"><i class='bx bx-fullscreen'></i></div>
      <div class="mess"><i class='bx bx-message-square-detail'></i></div>
      <div class="bell"><i class='bx bxs-bell-ring'></i></div>
      <div class="user">
        <div class="username">
          <h5>Hello, Olivia</h5>
        </div>
        <div class="userimg">
          <img src="../../../assets/img/userimg/profileimg.jpg" alt="userimg">
        </div>
      </div>
    </div>
  </div>
</section>
