.navmain {
  display: flex;
  justify-content: space-between;
  .menuandsearch {
    display: flex;
    .linemaindiv {
      cursor: pointer;
      width: 30px;
      position: relative;
      &:hover .linef,
      &:hover .linet {
        width: 25px;
      }
      .line {
        background: var(--dark-background);
        display: block;
        height: 3.3px;
        border-radius: 3px;
        margin-top: 6px;
        margin-left: auto;
        margin-bottom: 6px;
        transition: all 0.3s ease-in-out;
      }
      .linef {
        width: 15px;
      }
      .lines {
        width: 25px;
      }
      .linet {
        width: 20px;
      }
    }
    .back{
      cursor: pointer;
      i{
        font-size: 30px;
        color: var(--active-color);
      }
    }
    .search {
      margin-left: 20px;
      background-color: var(--light-backgroud);
      border-radius: 5px;
      width: fit-content;
      display: flex;
      padding: 5px 15px 5px 15px;
      input {
        outline: none;
        border: none;
        background: transparent;
        &::placeholder {
          font-size: 15px;
        }
      }
      i {
        cursor: pointer;
        vertical-align: middle;
        color: var(--text-light);
        font-size: 20px;
      }
    }
  }
  .usermaindiv {
    display: flex;
    div {
      margin-right: 15px;
    }
    .fullscreen,
    .mess {
      color: var(--active-color);
      background: var(--light-active-background2);
      font-size: 25px;
      padding: 3px 13px;
      vertical-align: middle;
      width: fit-content;
      border-radius: 7px;
      cursor: pointer;
    }
    .bell {
      color: #ff6d4d;
      background: #ffeae6;
      font-size: 25px;
      padding: 3px 10px;
      vertical-align: middle;
      width: fit-content;
      border-radius: 7px;
      cursor: pointer;
    }
    .user {
      display: flex;
      cursor: pointer;
      position: relative;
      background-color: var(--dark-background);
      padding: 3px 35px 3px 20px;
      align-items: center;
      border-radius: 0.5rem 28px 28px 0.5rem;
      .username {
        h5 {
          color: var(--white-text);
          font-size: 16px;
          font-weight: 400;
          margin: 0;
        }
      }
      .userimg {
        position: absolute;
        right: -25px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 0 4px var(--background-color);
      }
      img {
        width: 100%;
      }
      .dropdowndin {
        width: 175px;
        position: absolute;
        background-color: var(--background-color);
        top: 55px;
        left: 0;
        padding: 10px 0;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        ul {
          padding: 0;
          list-style: none;
          li {
            padding: 7px 13px;
            margin-top: 10px;
            transition: var(--hover-transition);
            &:hover,
            &:hover a {
              background-color: var(--light-backgroud);
              color: var(--hover);
            }
            a {
              text-decoration: none;
              color: var(--text-light);
              transition: var(--hover-transition);
              i {
                margin-right: 10px;
                font-size: 23px;
              }
              .bx-user {
                color: var(--active-color);
              }
              .bx-user-plus {
                color: #ff6d4d;
              }
              .bx-log-out {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
